#body{
  height: 70vh;
}

#setup-quiz{
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: center;
}
.question-container{
  display: flex;
  justify-content: center;
}
.question-box{
  width: 22rem;
}
 
.button-group{
  display: flex;
  flex-direction: column;
  align-items: center;
} 
.button-group .btn{
  width: 15rem;
}

